project:
  type: website
  # Build the site to `docs/_site` (i.e., `_site` in this current dir).
  output-dir: "_site"
  # Automatically copy resources from parent folder (not detected by Quarto)
  pre-render:
    - cp ../preview.png preview.png
    - ln -fs ../_extensions _extensions

website:
  title: "acronyms"
  site-url: "https://rchaput.github.io/acronyms/"
  # Links to GitHub (edit page, report issue) on each page
  repo-url: https://github.com/rchaput/acronyms
  repo-actions: [edit, issue]
  repo-subdir: docs
  repo-branch: master
  # Top navigation bar
  navbar:
    search: true
    left:
      - href: getting_started.qmd
        text: Getting started
      - text: Articles
        menu:
          - articles/options.qmd
          - articles/shortcodes.qmd
          - articles/styles.qmd
      - text: Advanced usage
        menu:
          - advanced/external_file.qmd
          - advanced/multi_document.qmd
          - advanced/customized_loa_header.qmd
    right:
      - text: Source Code
        href: https://github.com/rchaput/acronyms
        icon: github


format:
  html:
    theme: cosmo
    toc: true
